/* BARRA LATERAL */

#aside,
#frase {
  /* clear: both --> Al tener dos contenedores float estos se comportaran de manera relativa(uno al lado del otro). Con 
    esta opcion se colocara uno debajo del otro*/

  width: 200px;
  float: left;
  margin: 30px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ccc;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

#frase {
  /* Le coloco 180 px porque el padding left y right suman 20px*/
  width: 180px;
  padding: 10px;
  /* clear: both; */
}

#aside .widget {
  display: block;
  width: 180px;
  margin: 5px auto;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  border-bottom: 1px dashed;
}

#aside .widget:last-child {
  margin-bottom: 20px;
}

#aside h3 {
  display: block;
  width: 100%;
  color: #333333;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  background-color: #f2f3f2;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

/* FIN BARRA LATERAL */

/* FORMULARIO BARRA LATERAL*/

#aside div label,
#aside input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a {
  display: block;
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button {
  margin-top: 5px;
  margin-bottom: 10px;
}

#aside input,
#aside label {
  margin: 0px auto;
  text-align: center;
}

#aside li {
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 20px;
  list-style: square;
}

/* FIN FORMULARIO BARRA LATERAL*/
